/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29/11/2017, 00:39:39
    Author     : Luciana
*/

.estrelas input[type=radio] {
    display: none;
}
.estrelas label i.fa:before {
    content:'\f1b0';
    color: #FC0;
}
.estrelas input[type=radio]:checked ~ label i.fa:before {
    color: #CCC;
}